<template>
  <div class="home">
    <Downloade/>
    <RegisterSystem/>
    <Tested/>
    <Viable/>
  </div>
</template>

<script>
// @ is an alias to /src
import Downloade from '@/components/Downloade.vue'
import Inprogress from '@/components/Inprogress.vue'
import RegisterSystem from '@/components/RegisterSystem.vue'
import Tested from '@/components/Tested.vue'
import Viable from '@/components/Viable.vue'

export default {
  name: 'home',
  components: {
    Downloade,
    Inprogress,
    RegisterSystem,
    Tested,
    Viable
  }
}
</script>
