<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-flex mb-4>
        <h2 class="display-1 font-weight-bold mb-3">
          Register your systems
        </h2>
        <v-layout flex-row justify-center>
          <v-flex xs6 md3>
            <v-btn x-large color="secondary" href="_">
              Register
            </v-btn>
          </v-flex>
          <v-flex xs6 md3 align-self-center>
            <h3>{{ systemkey }}</h3>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    systemkey: "Your key will be here"
  }),
  computed : {
    claims : function(){ return this.$store.state.claims},
  }
};
</script>
