<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title>
        This seed rocks
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-toolbar-items>
        <v-btn text to="/">
          Home
        </v-btn>
        <v-btn text
          to="about">
          About
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
};
</script>
